.content {
    display: grid;
   
    
}
.grid{
    border: 1px solid black;
}

.grid-columns-start{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    overflow-x: hidden;
    color: black;
    
}
.grid-columns-start>div {
    background: grey;
    padding: 1em;
}

.grid-row{
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70px;    
    color: black;
    padding: 1em;
    
}
.grid-row>div{
    background: gold;
    padding: 1em;
}

.grid-area {
    display: grid;
    justify-items: center;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    color: black;
    padding: 1em;
}
.grid-area>div{
    background: red;
    padding: 1em;
}

.justify-self {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 49% 49%;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    color: black;
}
.justify-self>div{
    background:aqua;
    padding: 1em;
}

.align-self {
    display: grid;
    justify-content: end;
    grid-template-columns: 40% 20%;
    grid-auto-rows: 70px; 
    grid-gap: 1em;
    color: black;
    padding: 1em;
}
.align-self>div{
    background:greenyellow;
    padding: 1em;
}

.place-self {
    display: grid;
    align-content: end;
    height: 300px;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1em;
    color: white;
    padding: 1em;
}
.place-self>div{
    background: blueviolet;
    height: 70px;
    padding: 1em;
}