body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    height: 400px;

}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #2980b9;
    border-radius: 20px;
    border-color:white;
    padding: 10px;
}

.item1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
}

.item2 {
    grid-column: 2 / 4;
    grid-row: 2;
}

.item3 {
    grid-area: 3 / 1 / 4 / 3;
}

.item4 {
    justify-self: end;
}

.item5 {
    align-self: start;
}

.item6 {
    place-self: center;
}
