.content {
    display: grid;
   
    
}
.grid{
    border: 1px solid black;
}

.grid-templete {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    overflow-x: hidden;
    color: black;
    
}
.grid-templete>div {
    background: grey;
    padding: 1em;
}

.column-gap {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70px;    
    color: black;
    padding: 1em;
    
}
.column-gap>div{
    background: gold;
    padding: 1em;
}

.justify-items {
    display: grid;
    justify-items: center;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    color: black;
    padding: 1em;
}
.justify-items>div{
    background: red;
    padding: 1em;
}

.align-items {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 49% 49%;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    color: black;
}
.align-items>div{
    background:aqua;
    padding: 1em;
}

.justify-content {
    display: grid;
    justify-content: end;
    grid-template-columns: 40% 20%;
    grid-auto-rows: 70px; 
    grid-gap: 1em;
    color: black;
    padding: 1em;
}
.justify-content>div{
    background:greenyellow;
    padding: 1em;
}

.align-content {
    display: grid;
    align-content: end;
    height: 300px;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1em;
    color: white;
    padding: 1em;
}
.align-content>div{
    background: blueviolet;
    height: 70px;
    padding: 1em;
}

.grid-auto {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 1em;
    color: white;
}
.grid-auto>div{
    padding: 1em;
    background-color: black;
}