@charset "utf-8";
body {
    background-image: url(navio.jpg); 
    background-size: cover; 
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.imagem{
    border: 1px solid #ffffff;
    padding: 10px; 
    text-align: center; 
    
}
